{% extends "base.html" %}
{% block title %}Создание задач{% endblock %}


{% block content %}
<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header"><h2>Создать задачу</h2></div>
  <div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        <label>Description:</label><br/>
        <textarea name="description"></textarea><br/>
        <label>Status:</label>
        <br/>
        <select name="status">
            {% for value, status in statuses %}
                <option value="{{ value }}">{{ status }}</option>
            {% endfor %}
        </select>
        <br/>
        <label>Date: yyyy-mm-dd</label><br/>
        <input type="text" name="created_at"/><br/>
        <br/>
        <input type="submit" value="Send"/>
    </form><br/>
  </div>
</div>
{% endblock %}

