{% extends "base.html" %}
{% load static %}
{% block nav %}
    <li class="nav-item">
        {% csrf_token %}
        <a class="nav-link" href="{% url 'create_task' %}">Создание задачи</a>
    </li>
{% block search %}
<!--            <form class="d-flex" >-->
<!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->
<form  class="d-flex" action="{% url 'index' %}" method="get">
    {% include "partial/form.html" with button_text="Найти" form=search_form %}
</form>
{% endblock %}
{% endblock %}

{% block content %}
<h1>Задачи</h1>
    <div class="row">
        {% for task in tasks %}
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'task_view' task.pk %}" class="card-link" title="Просмотр задачи"><h5 class="card-title">{{ task.summary }}</h5></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}