h1 {
    color: turquoise;
    text-align: center;
}

button.but {
    height: 39px;
    background-color: white;
    color: blue;
    border-color: silver;
}

input.form-control {
    width: 40px;
}
