{% extends "base.html" %}
{% load static %}
{% load request_get_replace_page %}
{% block nav %}
    <li class="nav-item">
        {% csrf_token %}
        <a class="nav-link" href="{% url 'create_task' %}">Создание задачи</a>
    </li>
{% endblock %}

{% block content %}

     <a href="?{{ request|get_sort:'updated_at' }}">Сортировать по дате изменения</a>
     <a href="?{{ request|get_sort:'summary' }}">Сортировать по названиям</a>

<h1>Задачи</h1>
    <div class="row">
        {% for task in tasks %}
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card border-info">
                    <div class="card-body">
                        <a href="{{ task.get_absolute_url }}" class="card-link" title="Просмотр задачи"><h5 class="card-title">{{ task.summary }}</h5></a>
                    </div>
                </div>
            </div>
        {% empty %}
        {% endfor %}
        {% if is_paginated %}
            {% include "partial/pagination.html" %}
        {% endif %}
    </div>
{% endblock %}