{% extends "base.html" %}
{% block nav %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'update_task' task.pk %}">Редактировать</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'task_comment_create' task.pk %}">Добавить коммент</a>
</li>
<li class="nav-item">
    <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#taskleDeleteModal">Удалить</a>
</li>
{% endblock %}

{% block content %}
<div class="card border-info mb-3" style="width: 18rem;">
  <div class="card-header"><label>Резюме:</label>
        <h3 class="FO">{{ task.summary }}</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><label>Автор:</label>
        <h3>{{ task.author }}</h3></li>
    <li class="list-group-item"><label>Описание:</label>
        <h3>{{ task.description }}</h3></li>
    <li class="list-group-item"><label>Статус:</label>
        {% if task.status %}
             <h5>{{ task.status }}</h5>
        {% else %}
             <h5>Статусов нет</h5>
        {% endif %}</li>
      <li class="list-group-item"><label>Тэги:</label>
        {% for tag in task.tags.all %}
             <h5>{{ tag.name }}</h5>
        {% empty %}
             <h5>Тэгов нет</h5>
        {% endfor %}</li>
      <li class="list-group-item"><label>Тип:</label>
        {% for type in task.types.all %}
             <h5>{{ type.type_text }}</h5>
        {% empty %}
             <h5>Типов нет</h5>
        {% endfor %}</li>
      <li class="list-group-item"><label>Комментарии:</label>
        {% for comment in comments %}
             <h5>{{ comment.text }}</h5>
        {% empty %}
             <h5>Комментариев нет</h5>
        {% endfor %}</li>
        <li class="list-group-item"><label>ID:</label>
        <p>{{ task.pk}}</p></li>
  </ul>
</div>

<div class="modal fade" id="taskleDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskleDeleteModal">Удалить Задачу</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены что хотите удалить запись {{ task.summary }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                <form action="{% url 'delete_task' task.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit">Да</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}