{% extends "base.html" %}
{% block nav %}
     <li class="nav-item">
         <a class="nav-link" href="{% url 'projects_index' %}">Проекты</a>
     </li>
     <li class="nav-item">
         <a class="nav-link" href="{% url 'create_task' project.pk %}">Создать задачу</a>
     </li>
     <li class="nav-item">
         <a class="nav-link" href="{% url 'update_project' project.pk %}">Редактировать</a>
     </li>
<!--     <li class="nav-item">-->
<!--         <a class="nav-link" href="{% url 'delete_project' project.pk %}">Удалить</a>-->
<!--     </li>-->
<li class="nav-item">
    <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#projectDeleteModal">Удалить</a>
</li>

{% block search_form %}
{% endblock %}

{% endblock %}

{% block content %}

<div class="card border-info h-100 text-center" style="width: 18rem;">

<p class="card-title">Дата создания проекта: {{ project.start_date }}</p>
                        {% if project.end_date == None %}
                             <p class="card-title">Дата окончания проекта: Не указана</p>
                        {% else %}
                              <p class="card-title">Дата окончания проекта: {{ project.end_date }}</p>
                        {% endif %}
    </div>
<div class="row  ms-xl-5">
     <h1 class="card-title  mb-5">проект: {{ project.name }}</h1>
    {% for task in tasks %}
    <div class="col-4 mb-3">
        <div class="card border-info h-100" style="width: 18rem;">
            <div class="card-body  d-flex flex-column">
                <h4 class="card-title">{{ task.summary }}</h4>
                <h6 class="card-subtitle mb-2 text-muted"><b>Статус: </b>
                    {% if not task.status == None %}
                    <p>{{ task.status}}</p>
                    {% else %}
                    <span>Нет</span>
                    {% endif %}
                </h6>
                <h6 class="card-subtitle mb-2 text-muted"><b>Типы: </b>
                    {% for type in task.types.all %}
                    <p>{{ type.type_text }}</p>
                    {% empty %}
                    <p>Типов нет</p>
                    {% endfor %}
                </h6>
                <a href=" {% url 'task_view' task.pk %}"
                   class="btn btn-outline-info btn-sm mt-auto d-inline-block w-30">Подробнее</a>
            </div>
        </div>
    </div>

    {% empty %}
    <h1>Задач нет!</h1>
    {% endfor %}
</div>
<div class="modal fade" id="projectDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectDeleteModal">Удалить Проект</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены что хотите удалить запись {{ project.name }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                <form action="{% url 'delete_project' project.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary" type="submit">Да</button>
                </form>
            </div>
        </div>
    </div>
</div>
    {% endblock %}